body {
  min-width: unset;
}

.question-wrapper {
  border: 1px solid #DDDDDD;
  padding: 15px
}

.answer-wrapper {
  border: 1px solid #666;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.answer {
  margin: 10px;
  z-index: 10;
}

.selected-answer {
  font-weight: bold;
}

.selected-answer:after {
  content: '';
  background-image: url('../images/tick.png');
  background-size: 40px;
  width: 40px; 
  height: 40px;
  position: absolute;
  top: 0;
}

.terms {
  color: #666;
}

.privacy-link {
  color: #337ab7;
}

.advertisement {
  color: #888;
  text-align: right;
  margin: 5px 0;
}

.submit-btn {
  text-align: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.response-percentage {
  position: absolute;
  right: 10px;
}
.response-percentage.selected {
  font-weight: bold;
}

.response-bar {
  background-color: #93ADCF;
  position: absolute;
  opacity: .5;
  height: 100%;
}
.response-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  /* justify-content: flex-end; */
}